@charset "UTF-8";
/**
 * Сброс стилей
 **/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

input {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/*Basic style*/
body {
  font-family: "Roboto", sans-serif;
  background: rgb(255, 255, 255);
}

.container {
  min-width: 320px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.wrap {
  min-width: 320px;
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
}

p,
a,
button {
  color: rgb(255, 255, 255);
}

img {
  display: block;
}

html,
body {
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.header nav {
  flex-grow: 1;
}
.header-logo {
  margin-left: 140px;
}
.header-logo p {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  color: #000000;
}
.header-nav__list {
  display: flex;
  justify-content: end;
  margin-right: 32px;
  gap: 40px;
}
.header-nav__item a {
  color: #000000;
  text-decoration: none;
}
.header-btn {
  border: 1px solid #8f8d8d;
  background-color: transparent;
  border-radius: 6px;
  color: #000000;
  font-size: 15px;
  padding: 12px 12px;
  cursor: pointer;
  margin-right: 140px;
}

.intro {
  position: relative;
  background-image: url("../assets/img/image.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 224px 0 224px;
  padding-left: 164px;
}

.intro-content {
  max-width: 540px;
}
.intro-content__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(255, 255, 255);
  margin-bottom: 24px;
}
.intro-content__text {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  color: #F7F8FA;
  margin-bottom: 40px;
}
.intro-content__btn--blue-accent {
  border: 1px solid #5552E8;
  background-color: #5552E8;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  padding: 16px 16px;
  cursor: pointer;
  font-weight: 600;
}
.intro-content__btn--white-accent {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  color: #5552E8;
  font-size: 18px;
  padding: 16px 16px;
  cursor: pointer;
  font-weight: 600;
  margin-left: 18px;
}

.photographing {
  padding: 120px 164px;
}
.photographing__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: left;
  color: #000000;
  margin-bottom: 24px;
  max-width: 720px;
}
.photographing__title--blue-accent {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  color: #5552E8;
  display: block;
  margin-bottom: 24px;
  max-width: 720px;
}
.photographing-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  color: #5552E8;
  margin-bottom: 64px;
  max-width: 720px;
}
.photographing-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
}
.photographing-item {
  background-image: url("../assets/img/wadding.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  border-radius: 16px;
  width: 350px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.photographing-item::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}
.photographing-item__title {
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  padding-bottom: 10px;
  max-width: 286px;
}
.photographing-item__price {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  max-width: 286px;
  margin-bottom: 32px;
}
.photographing .scene {
  background-image: url("../assets/img/estrada.png");
}
.photographing .food {
  background-image: url("../assets/img/food.png");
}
.photographing .family {
  background-image: url("../assets/img/family.png");
}
.photographing .children {
  background-image: url("../assets/img/baby.png");
}
.photographing .pregnancy {
  background-image: url("../assets/img/pregnancy.png");
}

.benefit {
  position: relative;
  background-image: url("../assets/img/benefits.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 120px 165px;
}
.benefit__text {
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(255, 255, 255);
}
.benefit__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 64px;
}
.benefit-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 64px;
  column-gap: 30px;
}
.benefit-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.benefit-item__img {
  display: flex;
  justify-content: center;
  padding: 15px;
  border-radius: 50%;
  background-color: #fff;
  margin-bottom: 32px;
}
.benefit-item__title {
  font-size: 28px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}
.benefit-item__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 208px;
}
.order__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
  color: #000000;
  max-width: 825px;
}
.order__text {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 40px;
  color: #8f8d8d;
  max-width: 825px;
}
.order__conditions {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: #8f8d8d;
  max-width: 482px;
}
.order__conditions--accent-orange {
  color: #F86624;
}
.order-form {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 24px;
}
.order-form__input {
  padding: 16px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.order-form__input::placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  color: #8f8d8d;
}
.order-form__button {
  border: 1px solid #FE3268;
  background-color: #FE3268;
  border-radius: 36px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  padding: 20px 20px;
  cursor: pointer;
  padding-left: 32px;
  padding-right: 32px;
  font-weight: 600;
}

.feedback {
  background-color: #F7F8FA;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 100px 165px;
}
.feedback__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
  margin-bottom: 24px;
}
.feedback__text {
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
  margin-bottom: 80px;
}
.feedback-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 30px;
}
.feedback-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  padding: 40px 32px;
  max-width: 350px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
.feedback-item__img {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 32px;
}
.feedback-item__text {
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 32px;
  max-width: 280px;
  color: #000000;
}
.feedback-item__person {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 4px;
  max-width: 280px;
  color: #000000;
}
.feedback-item__profession {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
  max-width: 280px;
  color: #8f8d8d;
}

.pricing-plans {
  position: relative;
  background-image: url("../assets/img/prices-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 80px 165px;
}
.pricing-plans__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
  color: rgb(255, 255, 255);
}
.pricing-plans__text {
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 64px;
  color: rgb(255, 255, 255);
}
.pricing-plans-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}
.pricing-plans-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  width: 286px;
  padding: 32px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
.pricing-plans-item__title {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  color: #F86624;
  margin-bottom: 10px;
}
.pricing-plans-item__price {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  color: #000000;
  margin-bottom: 33px;
}
.pricing-plans-item__list li {
  display: flex;
  justify-content: start;
  align-items: start;
  padding-left: 30px;
  margin-bottom: 8px;
}
.pricing-plans-item__list li:last-child {
  margin-bottom: 28px;
}
.pricing-plans-item__list .check-marker {
  background: url("../assets/ico/stroke.svg") no-repeat left center;
}
.pricing-plans-item__list .close-marker {
  background: url("../assets/ico/close.svg") no-repeat left center;
}
.pricing-plans-item__btn {
  border: 1px solid #F86624;
  background-color: #F86624;
  border-radius: 36px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 14px 14px;
  cursor: pointer;
  padding-left: 112px;
  padding-right: 112px;
  font-weight: 500;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 494px;
}
.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 40px;
}
.footer-social a {
  padding: 10px;
  border: 1px solid #5552E8;
  border-radius: 50%;
}
.footer-menu-list {
  display: flex;
  column-gap: 35px;
  margin-bottom: 40px;
}
.footer-menu-list__item a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  color: #8f8d8d;
}
.footer-copyright p {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  color: #8f8d8d;
  text-align: center;
}

.wrap-content {
  max-width: 540px;
  box-sizing: border-box;
  margin: 0 auto;
}

.detailed-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
.detailed-order__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
  color: #000000;
}
.detailed-order__text {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 40px;
  color: #8f8d8d;
}
.detailed-order__text-radio {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 28px;
  color: #8f8d8d;
}
.detailed-order__conditions {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: #8f8d8d;
  max-width: 482px;
}
.detailed-order__conditions--accent-orange {
  color: #F86624;
}
.detailed-order-form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  column-gap: 16px;
  margin-bottom: 24px;
}
.detailed-order-form__input {
  padding: 16px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 12px;
  width: calc(100% - 40px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.detailed-order-form__input::placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  color: #8f8d8d;
}
.detailed-order-form__radio {
  margin-bottom: 15px;
}
.detailed-order-form__radio label {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.detailed-order-form__radio input[type=radio]:checked, .detailed-order-form__radio input[type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.detailed-order-form__radio input[type=radio]:checked + label, .detailed-order-form__radio input[type=radio]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  line-height: 20px;
  cursor: pointer;
}
.detailed-order-form__radio input[type=radio]:checked + label:before, .detailed-order-form__radio input[type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #dddddd;
  border-radius: 100%;
}
.detailed-order-form__radio input[type=radio]:checked + label:before {
  background-color: #5552E8;
}
.detailed-order-form__radio input[type=radio]:not(:checked) + label:before {
  background-color: #ffffff;
}
.detailed-order-form__radio input[type=radio]:checked + label:after, .detailed-order-form__radio input[type=radio]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
}
.detailed-order-form__radio input[type=radio]:not(:checked) + label:after {
  opacity: 0;
}
.detailed-order-form__radio input[type=radio]:checked + label:after {
  opacity: 1;
}
.detailed-order-form__button {
  border: 1px solid #5552E8;
  background-color: #5552E8;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  padding: 20px 20px;
  cursor: pointer;
  padding-left: 32px;
  padding-right: 32px;
  font-weight: 600;
  width: 100%;
  margin-top: 48px;
}
.detailed-order__text-radio {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  color: #000000;
  margin: 28px 0 18px;
}

/*# sourceMappingURL=style.css.map */
