.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 208px;

  &__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
    color: $black;
    max-width: 825px;

  }

  &__text {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 40px;
    color: $gray;
    max-width: 825px;


  }

  &__conditions {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    color: $gray;
    max-width: 482px;

    &--accent-orange {
      color: $accent_orange;
    }
  }

  &-form {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 24px;

    &__input {
      padding: 16px 20px;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: left;

      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 8px;

      &::placeholder {
        // padding: 16px 20px;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
        color: $gray;
      }
    }

    &__button {
      @include btn($accent_pink, $accent_pink, 36px, $white, 18px, 20px, 20px);
      padding-left: 32px;
      padding-right: 32px;
      font-weight: 600;
    }

  }


}