.photographing {
  padding: 120px 164px;

  &__title {
    @include font(64px, 700, 68px, 0%, left, $black);
    margin-bottom: 24px;
    max-width: 720px;
  }

  &__title--blue-accent {
    @include font(24px, 500, 32px, 0%, center, $acсent_blue);
    display: block;
    margin-bottom: 24px;
    max-width: 720px;

  }

  &-text {
    @include font(24px, 500, 32px, 0%, center, $acсent_blue);
    margin-bottom: 64px;
    max-width: 720px;

  }

  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
  }

  &-item {

    background-image: url('../assets/img/wadding.png');

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    border-radius: 16px;
    width: 350px;
    height: 380px;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, .2);
      border-radius: 16px;
    }


    &__title {
      font-size: 28px;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: 0%;
      text-align: center;

      padding-bottom: 10px;
      max-width: 286px;
    }

    &__price {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0%;
      text-align: center;
      max-width: 286px;
      margin-bottom: 32px;
    }

  }

  .scene {
    background-image: url("../assets/img/estrada.png");
  }

  .food {
    background-image: url("../assets/img/food.png");
  }

  .family {
    background-image: url("../assets/img/family.png");
  }

  .children {
    background-image: url("../assets/img/baby.png");
  }

  .pregnancy {
    background-image: url("../assets/img/pregnancy.png");
  }
}